<footer>
    <p>{{textoRodape}}</p></br></br>
    <p>Criado por: Jordhan </br><a href="https://github.com/jordhanemmanuel" target="_blank">GitHub.</a></br><a href="https://github.com/jordhanemmanuel/desafio-reserachsoftware" target="_blank">Repositório com o projeto.</a></p>
</footer>