body {
    background-color: #222629;
    color:white;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer {
    color: #61892f;
    border-top: 1px solid #86c232;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    color: #86c232;
}

header a {
    color: #61892F;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #61892F;
    background: #61892F;
    color: white;
    padding: 8px;
}

b {
    color: #86c232;
    font-family: arial,sans-serif;
}

p {
    font-family: arial,sans-serif;
}

.easteregg {
    color: white;
}